@{
    ViewData["Title"] = "Companies";
}
<link rel="stylesheet" href="/css/company.css">
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

    <h3 class="title">KAÇIRILMAYACAK FIRSATLAR!</h3>
    <br />

<div class="container">

    <div class="tab_box">
        <button class="tab_btn active">Otel Fırsatları</button>
        <button class="tab_btn">Ödeme Fırsatları</button>
        <button class="tab_btn">Diğer Fırsatlar</button>
        <div class="line"></div>
    </div>

    <div class="content_box">
        <div class="content active c1">

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/otel1.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Yaz Fırsatı</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:YAZGELDI1</b></p>
                               <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/otel2.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Kış Fırsatı</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:KAYAK1250</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/otel3.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Yaz Fırsatı</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:YAZGELDI2</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/otel4.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Kış Fırsatı</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:TERMAL500</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/otel5.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Büyük Kampanya!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:ROTAINDIRIM1</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/otel6.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Büyük Kampanya!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:ROTAINDIRIM2</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="content c2">

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme1.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Maximumlulara Özel!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:MAXIOZEL</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme2.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Maximumlulara Özel!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:MAXI7500</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme3.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Paycell Farkıyla!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:FIRSAT100</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme4.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Sana Özel Fırsatlar!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:ROTAINDIRIM3</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme5.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Yaz Fırsatları</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:YAZGELDI3</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme6.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Eylül Fırsatları</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:EYLULOZEL</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <div class="content c3">

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/fırsat1.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Avantajlı Fiyatlar!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:ROTAFIRSAT2</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/fırsat2.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Hemen üye ol!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Hemen üye ol ve bu fırsatları kaçırma!</p>
                            <p class="coupon"><b>Kupon kodu:UYE1000</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/fırsat3.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Kültür Şöleni!</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:SOLEN100</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-6">
                    <figure class="card">
                        <img class="foto" src="/images/CompanyPhotos/Ödeme7.jpg" alt="hata88" />
                        <figcaption>
                            <h3>Sana Özel Kampanyalar</h3>
                            <p>Büyük indirimleri kaçırmamak için hemen tıkla! <br> Sana özel sınırlı süre geçerli muhteşem fırsatlar!</p>
                            <p class="coupon"><b>Kupon kodu:SANAOZEL2</b></p>
                            <a asp-controller="Account" asp-action="CompanyDetails" class="add-to-cart">Detayları gör</a>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/js/company.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>