
@{
    ViewData["Title"] = "CompanyDetails";
}

<h1 style="font-weight:550;font-size:15px;font-style:italic">ÖZEL YENİ SEZON İNDİRİMLER</h1>

<link rel="stylesheet" href="/css/CompanyDetail.css">
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">


    <h2 class="headerCompany">RotaTatil ile Tatilin Tam Zamanı!</h2>

    <section class="kampanya">
        <p>RotaTatil gelenekselleşen Yaz Fırsatları kampanyası ile bu yaz da misafirlerini birbirinden özel avantajlarla buluşturuyor. Yaza özel indirimlere ek indirimler, kredi kartına 12 aya varan taksit imkanı, esnek ödeme seçeneği gibi farklı ödeme seçenekleriyle öne çıkan kampanyada dileyen misafirlere iptal ve iade paketi ile koşulsuz iade hakkı da sunuluyor.</p>
        <h3>Tatilinizi İndirimlerle Hemen Planlayın!</h3>
        <p>2024 yazında avantajlı fiyatlarla harika bir tatil yapmak için yerinizi ayırtmanın tam sırası! Yaz fırsatları sunan oteller arasından size uygun olanı seçerek, sevdiklerinizle birlikte unutulmaz bir tatil yapmak için şimdi harekete geçin.</p>

        <h3>Maximum ile Ödeyin, Ekstra İndirim Kazanın!</h3>
        <p>RotaTatilde yaz sezonuna özel fırsatlara ek olarak sunulan indirimlerden yararlanmak isterseniz seçili Maximum kartlara özel bu kampanyayı değerlendirebilirsiniz. Seçili otellerde geçerli Maximum’a özel bu kampanya ile tatilinizi ekstra avantajlı şekilde planlayabilirsiniz. Kampanya, RotaTatilden yapılan tek seferde ödeme ya da 9 aya varan taksitli işlemlerde geçerli oluyor.</p>

        <h3>Tatilin %25’ini Şimdi, Kalanını Sonra Ödeme Fırsatı!</h3>
        <p>RotaTatilde seçili otellerde cazip fiyatların yanı sıra Maximum’a özel ödeme avantajları da sizi bekliyor. Rezervasyonunuzu hemen yapın; esnek ödeme seçeneği ile tatilinizin %25’ini şimdi, kalan %75’ini ise tatilinize 7 gün kalaya kadar dilediğiniz tarihte ödeme fırsatından yararlanın.</p>

        <h3>7.500 TL’ye Varan MaxiPuan Kazanın!</h3>
        <p>İşCep veya Maximum Mobil'den kampanyaya katılın, 31 Aralık 2024 tarihine kadar gerçekleştireceğiniz konaklamalar için 3 Eylül- 30 Eylül 2024 tarihleri arasında Bankamatik Kartı ve Maximum kartınızla ETS’deki seçili otellerden tek seferde yapacağınız 35.000 TL - 49.999 TL arası peşin veya taksitli ilk rezervasyonda 2.500 TL MaxiPuan, 50.000 TL - 99.999 TL arası peşin veya taksitli ilk rezervasyonda 5.000 TL MaxiPuan, 100.000 TL ve üzeri peşin veya taksitli ilk rezervasyonda ise 7.500 TL MaxiPuan kazanma fırsatını kaçırmayın!</p>

        <p class="footer">Yaz fırsatları kampanyası; 01.04 - 31.10.2024 arasındaki konaklamalarda, seçili tesislerinde geçerlidir. İptalde koşulsuz iade hakkı; iptal-iade paketi alındığında konaklamaya 72 saat kalaya kadar geçerlidir. Ödeme seçenekleri ve kampanyalar birleştirilemez.</p>
    
        <a class="btn btn-detail" asp-controller="Account" asp-action="Companies">Kampanyaları Görmek için TIKLA</a>

</section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>